## Выгрузка данных

In [1]:
# импортируем необходимые библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#зададим параметры подключения к БД
db_config = {'user': NDA,
             'pwd': NDA,
             'host': NDA,
             'port': NDA,
             'db': NDA}
#сформируем строку соединения с БД
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                        db_config['pwd'],
                                                        db_config['host'],
                                                        db_config['port'],
                                                        db_config['db'])
#подключимся к БД
engine = create_engine(connection_string)

In [3]:
#сформируем sql-запрос
query = '''
            SELECT *
            FROM dash_visits
        '''
#выполним запрос и сохраним результат выполнения в DataFrame
dash_visits = pd.io.sql.read_sql(query, con = engine, index_col = 'record_id')
#проверка
print(dash_visits.head(5))

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4
1040600       Деньги         Авто       18-25 2019-09-24 18:55:00      17
1040601       Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [4]:
#сохраним таблицу в формате csv для дальнейшей работы в Tableau
dash_visits.to_csv('dash_visits.csv', index = False)